In [1]:
import pandas as pd
import numpy as np

n = 1000 

df = pd.DataFrame({
    "account_id": np.random.randint(1, 51, size=n), 
    "date": pd.date_range("2024-01-01", periods=n, freq="H"),
    "amount": np.random.exponential(scale=100, size=n),
    "type": np.random.choice(["DEPOSIT", "WITHDRAWAL", "TRANSFER"], size=n),
})

df.head()

/var/folders/cs/w4qgzv7s4hb_s7nlb4jrsbpm0000gn/T/ipykernel_61682/1169707762.py:8: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  "date": pd.date_range("2024-01-01", periods=n, freq="H"),

   account_id                date      amount        type
0          41 2024-01-01 00:00:00  132.097958    TRANSFER
1          43 2024-01-01 01:00:00   33.980498     DEPOSIT
2           2 2024-01-01 02:00:00   44.705426    TRANSFER
3          12 2024-01-01 03:00:00  282.038045  WITHDRAWAL
4          13 2024-01-01 04:00:00  112.743932  WITHDRAWAL